<%- include('../partials/header') %>

  <div class="container d-flex flex-row p-2 align-content-center justify-content-between">

    <form action="/skills" method="POST" autocomplete="off">
      <div class="form-group p-2 fs-3 container d-flex justify-content-around">
        <input class="form-control m-2" placeholder="Skill name" type="text" name="name">
        <input class="form-control m-2" placeholder="Skill level" type="number" name="level">
        <button class="btn btn-primary m-2" type="submit">Add</button>
      </div>
    </form>
  </div>


  <%- include('../partials/footer') %>